# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\_KULIAH\Polman Astra\Tingkat 2\Semester 2\Pemrograman 7\Folder Tugas\PRG7_P3_016\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
